<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
<title>Shopping Cart</title>
	<h:outputStylesheet name="main.css" library="css"/>
</h:head> 
<body> 
<h2>Order Confirmation</h2>
<h4>Customer: #{cartBean.name}</h4>
<h4>Dispatch address: #{cartBean.address}</h4>

<p>Your items(s) will be displayed in the next 48 hours.</p>
<a href="Home.jsf">Home</a>


</body> 
</html>

