<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
<title>Shopping Cart</title>
	<h:outputStylesheet name="main.css" library="css"/>
</h:head> 
<body> 
<h:form>
 <h2 class="heading"> Welcome to my online shop!</h2>
        <h:outputLabel value="Name:" />
        <h:inputText id="name" readonly="false" value="#{cartBean.name}"></h:inputText><br/>
        <h:outputLabel value="Address:" />
        <h:inputText id="address" readonly="false" value="#{cartBean.address}"></h:inputText><br />
        <h:commandButton class="ActionButton" value ="Start Shopping!" action="shop.jsf"  ></h:commandButton>
</h:form>
</body> 
</html>
