<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
	<h:head>
	<title>First JSF Application</title>
	<h:outputStylesheet name="main.css" library="css"/>
	</h:head>
	<h:body>
	
	<h:form>
	<h2 class="heading">Products</h2>
        <h:selectOneListbox id="productListBox" 
        value="#{shopBean.productId}" 
        onchange="this.form.submit();" 
		itle="Products you can buy online">
            <f:selectItem itemLabel="ipdod " itemValue="1"  />
            <f:selectItem itemLabel="iStation" itemValue="2" />
            <f:selectItem itemLabel="hdc Diamond phone" itemValue="3" />
            <f:selectItem itemLabel="HD TV" itemValue="4" />
            <f:selectItem itemLabel="Wireless Speakers" itemValue="5" />
            <f:selectItem itemLabel="Blue Ray DVD Playe" itemValue="6" />
        </h:selectOneListbox>
        <h2 class="heading"> Manage My Cart</h2>
        <h:outputLabel value="Product ID:" />
        <h:inputText id="productID" readonly="true" size="3" value="#{shopBean.productId}"/><br/>
        <h:outputLabel value="Quantity:" />
        <h:inputText id="quantity" size="3" value="#{shopBean.quantity}"/><br />
        <h:commandButton id="add" class="ActionButton" value ="Add to Cart" action="#{shopBean.addHandler}"  />
        <h:commandButton id="remove" class="ActionButton" value ="Remove" action="#{shopBean.removeHandler}"  />
        <h:commandButton class="ActionButton" value ="Check Out" action="checkout.jsf"  />
        <h2 class= "heading">Contents Of Cart</h2>
        <h:dataTable value="#{cartBean.item}" var="row">
        <h:column>
        <h:outputText value="ID: #{row.productId}"/>
        </h:column>
        <h:column>
        <h:outputText value="Qty: #{row.quantity}"/>
        </h:column>
      </h:dataTable>
        
	
	</h:form>
	</h:body>
</html>