<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Management Staff Login</title>
</h:head>
<body>
	<h:form>
		<h:panelGrid columns="3" class="formTable">
			First name:
			<p:inputText value="#{managementStaffMethods.inputFirstName}"
				required="true" id="firstName"
				requiredMessage="First name required"/>
			<p:message for="firstName"/>
			Last name:
			<p:inputText value="#{managementStaffMethods.inputLastName}"
							required="true" id="lastName"
							requiredMessage="Last name required"/>
			<p:message for="lastName"/>
			Gender:
			<p:inputText value="#{managementStaffMethods.inputGender}"
							required="true" id="gender"
							requiredMessage="Gender required"/>
			<p:message for="gender"/>
			Date of Birth:
			<p:inputText value="#{managementStaffMethods.inputDateOfBirth}"
							required="true" id="dob"
							requiredMessage="DOB required"/>
			<p:message for="dob"/>
			Address:
			<p:inputText value="#{managementStaffMethods.inputAddress}"
							required="true" id="address"
							requiredMessage="Address required"/>
			<p:message for="address"/>
			User Name:
			<p:inputText value="#{managementStaffMethods.inputUsername}"
			required="true" id="username"
			requiredMessage="User name required"/>
			<p:message for="username"/>
			Password:
			<p:password value="#{managementStaffMethods.inputPassword}"
			feedback="true"
			id="password1"
			required="true"
			requiredMessage="Password required"
			validatorMessage="Password must be 2 or more chars.">
			</p:password>
			<p:message for="password1"/>
		</h:panelGrid>
		<p:commandButton action="#{managementStaffMethods.addManagementStaff}"
			value="Register" ajax="false"/>
		
	</h:form>
</body>
</html>