<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<h:outputStylesheet name="main.css" library="css" />
</h:head>
<body>
	<h1>Welcome To 4U Hire</h1>
	<br></br>

	<h:button value="Login" outcome="login" />

</body>
</html>
