<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet name="main.css" library="css" />
</h:head>
<body>
	<h1>Login</h1>

	<h:form>
		<h:outputLabel value="Username: " />
		<h:inputText value="#{loginBean.username}" />
		<br></br>
		<h:outputLabel value="Password:  " />
		<h:inputSecret value="#{loginBean.password}"></h:inputSecret>
		<br></br><br></br><br></br>
		<h:commandButton value="Login" action="#{loginBean.login}"></h:commandButton>
	</h:form>

</body>
</html>
